when fixing any given issue or adding new feature alwasy keep foucs on given taks and avoid making changes to any exiting code
when fixing any isuse always ensure we keep focus on given task and do not change any other working code
when asked to take backup alwasy tak backup using backup script we have on bash /Users/chiragahmedabadi/dev/AI-Email-Scanner/backup_code.sh
This uses public repo so we need to enusre that we do not commit any fiel that has sensitive data or personal information